/* #AA000C - red
    #FFA533 - gold
    #120558 - blue
*/

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC|Open+Sans');

        
        body {
            font-family: "Open Sans", sans-serif;
        }
        
        #logo {
        background-color: #FFFFFF;
        position: relative;
        width: 110px;

        }


        
        h1, h2 {
            
            color: #AA000C;
            font-family: "Marcellus SC", serif;
            line-height: 2px;
        }
        
        img {
            
            max-width: 100%;
        }
        .fullwidth {
            
            width: 100%;
        }
        
        section{
            
            padding: 15px;
        }
        
        p {
            line-height: 1.5;
            font-size: .9em;
        }
        
    
        #middle-row {
            
            background-color: gainsboro;
        }
        
        
           nav {
            color: white;
            background-color: #120558;
            font-size: 1.05em;
            margin-top: -70px;
               margin-left: 45px;
            
        }

        nav > ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            line-height: 3em;
            text-align: center;
            margin: 0;
    
            
        }

        nav li {
       flex: 1 1 8em;
        }

    nav a {
     display: block;
    }
        
    nav a:link, nav a:visited {
    color: #ffffff;
    text-decoration: none;
    }

    nav a:hover {
      color: #ffffff;
    background-color: #E7C24F;
    
    }

    a {
    color: #ffffff;
    text-decoration: none;
    }
        

        .rush {
            color: black;
            font-size: .9em;
        }
        
.river {
    font-size: .9em;
}
        #content {
            
            width: 960px;
            margin: 0 auto;
        }
        
        #bottom-row {
            
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
        }
        
        #top-row, #middle-row {
            
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }
        
        .leftcol, .rightcol {
            width: 48%;
            flex: 1 0 15em;
            margin: .5em;
        }
        
.rightriver {
    
    width: 48%;
    flex; 1 0 15em;
    margin: .5em;
}
      
#river-middle {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#river-bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
        footer {
            color: #ffffff;
            background-color: #120558;
            height: 50px;
        }
        
        .icons img {
            
            padding: 7.5px;
            margin: 0px;
            width: 38px;
            height: 38px;
            float: right;
        }
.icons2 img {
            
            padding: 7.5px;
            margin: 0px;
            width: 38px;
            height: 38px;
            float: right;
    margin-top: -52px;
        }
        
.text {
    text-align: left;
    padding-left: 25px;
    padding-top: 15px;
}